[submodule ".registry"]
	path = .registry
	url = https://github.com/rorylawless/rorylawless.r-universe.dev
	branch = HEAD
[submodule "enrollcast"]
	path = enrollcast
	url = https://gitlab.com/localopen/enrollcast
